image: node:18

variables:
  AWS_ACCESS_KEY_ID: "AKIAUFUUSADPJ7CBCUOH"
  AWS_SECRET_ACCESS_KEY: "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"
  AWS_DEFAULT_REGION: "eu-north-1"
  S3_BUCKET: "property-renovation-app-bucket"
  CLOUDFRONT_DISTRIBUTION_ID: "E2CZ99XMAGBW3E"
  BUILD_DIR: "build"

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

build_app:
  stage: build
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - ${BUILD_DIR}/
  only:
    - main

deploy_to_s3:
  stage: deploy
  image: python:3.11
  before_script:
    - pip install awscli
  script:
    - aws s3 sync ${BUILD_DIR}/ s3://${S3_BUCKET}/ --delete
    - aws cloudfront create-invalidation \
        --distribution-id ${CLOUDFRONT_DISTRIBUTION_ID} \
        --paths "/*"
  only:
    - main
